body {
  background-color: aquamarine;
}

#title {
  text-align: center;
}

h2,
p {
  text-align: center;
}

p {
  margin: auto;
  padding: 0 200px 0 200px;
}

#allButtons {
  margin: 0;
  /* position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  padding-top: 25px;
  text-align: center;
}
.button {
  /* color: white;
  background-color: black;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
}

#results {
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}
